.spinner {
    margin: 0rem;
    /* margin-left: 1rem; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
}

.spinner-large,
.spinner-small {
    border-radius: 9999px;
    animation: spin 1s linear infinite;
    border-style: solid;
    border-color: currentColor;
    border-top-color: transparent;
}

.spinner-large {
    width: 5.5rem;
    height: 5.5rem;
    border-width: 6.5px;
}

.spinner-small {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 0.3rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}