@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<div style="display: flex; column-gap: 10px;">
    <button class="btn btn-success rounded-pill" @onclick="@IncrementCount">
        @* Increase *@
        <Icon IconType="Icon.IconTypes.ADD" />
    </button>
    <button class="btn btn-danger rounded-pill" @onclick="@DecrementCount">
        @* Decrease *@
        <Icon IconType="Icon.IconTypes.MINUS" />
    </button>
    <button class="btn btn-secondary rounded-pill" @onclick="@ResetCount">
        @* Reset *@
        <Icon IconType="Icon.IconTypes.REDO" />
    </button>
</div>

@code {
    private int _currentCount = 0;

    private void IncrementCount() => _currentCount++;

    private void DecrementCount() => _currentCount--;

    private void ResetCount() => _currentCount = 0;
}
